.mat-toolbar-single-row {
  background-color: #3565b9;
}

.mat-button-toggle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.mat-tab-group{
  display: flex;
  flex: 1 1 auto;
}