<mat-toolbar>
  <span class="example-spacer"></span>
  <mat-button-toggle-group
    name="button"
    aria-label="button"
    appearance="legacy"
  >
    <mat-button-toggle value="View Employees" routerLink="employees"
      >View Employees</mat-button-toggle
    >
    <mat-button-toggle value="Add Employee" routerLink="create-employee"
      >Add Employee</mat-button-toggle
    >
  </mat-button-toggle-group>
  <div>
    <!-- <mat-tab-group
      mat-stretch-tabs="true"
      mat-align-tabs="start"
      color="warn"
      animationDuration="1000"
      color="primary"
      backgroundColor="accent"
    >
      <mat-tab label="ENG"></mat-tab>
      <mat-tab label="HIN"></mat-tab>
    </mat-tab-group> -->
  </div>
</mat-toolbar>
