<div class="my-5" style="margin-top: 100vh !important">
  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!--Website-->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://sauraevshing-portfolio.netlify.app/"
          role="button"
        >
          <i
            style="position: absolute; top: 10px; left: 10px"
            class="fa-solid fa-globe"
          ></i>
        </a>

        <!-- Facebook -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.facebook.com/sauraevshing/"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://twitter.com/thisis_souraev"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Instagram -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.instagram.com/sauraevshing/"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://www.linkedin.com/in/sourav-kumar-823b7415b/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a
          class="btn btn-outline-light btn-floating m-1"
          href="https://github.com/Souraevshing"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(0, 0, 0, 0.2); font-size: 30px"
    >
      © {{ date }} Copyright:
      <a href="https://sauraevshing-portfolio.netlify.app/">Sourav</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
